@charset "UTF-8";

html{
    font-size:20px;
    background-color:rgb(38, 37, 37);
    text-align: center;
}

body{
    color:rgb(193, 188, 188);
    align-items: center;
    justify-content: center;
    margin: auto;
}

img .forhonor1 .forhonor{
    width:1000px;
}

h1{
    font-size:180px;
    margin-top: 0;
    color:rgb(151, 150, 115);
    background-color:rgb(47, 46, 46);
}

h2{
    font-size:90px;
}

h3{
    font-size:70px;
}

h4{
    font-size:60px;
}

h1::first-line{
    font-size:1.7em;
}

#font-Century{
    font-family:Century;
}

.kokodeha{
    border: 10px solid;
    width:1600px;
    margin: auto;
}

.mokuji{
    font-size:50px;
    border:10px solid;
    width:1300px;
    margin: auto;
}

#mokujiji{
    font-size:60px;
}

.mokiji a{
    text-align:left;
}

table{
    margin: auto;
}

table,th, tr,td{
    border: 5px solid rgb(147, 136, 102);
    font-size:70px
}

strong{
    color:yellow;
}

.forhonor{
    color:rgb(151, 150, 115);
}

a{
    color:aquamarine;
}

#mokuji1{
    font-size:60px;
    background-color:rgb(128, 106, 57);
    text-align:left;
}

#mokuji2{
    font-size:60px;
    background-color:rgb(128,106,57);
    text-align:left;
}

#mokuji3{
    font-size:60px;
    background-color:rgb(128,106,57);
    text-align:left;
}  

.box1{
    margin:auto;
    background-color:rgba(132, 132, 130, 0.208)
}

small{
    font-size: 50px;
}
