@charset "UTF-8";

html{
    font-size:20px;
    background-color:rgb(38, 37, 37);
}

body{
    position: absolute;

}

h1{
    font-size:120px;
    text-align:center;
    color:rgb(151, 150, 115);
}

h2{
    font-size:50px;
}

h3{
    font-size:40px;
}

h4{
    font-size:30px;
}

h1::first-line{
    font-size:1.7em;
}

#font-Century{
    font-family:Century;
}

.kokodeha{
    border:10px double;
    width:1000px;
    margin: auto;
}

.mokuji{
    font-size:30px;
    border:10px solid;
    width:1000px;
    margin: auto;
}

#mokujiji{
    font-size:60px;
}

.mokiji a{
    text-align:left;
}

table{
    margin: auto;
}

table,th, tr,td{
    border: 5px solid rgb(147, 136, 102);
    font-size:40px
}

strong{
    color:yellow;
}

a{
    color:aquamarine;
}

#mokuji1{
    font-size:60px;
    background-color:rgb(128, 106, 57);
    text-align:left;
}

#mokuji2{
    font-size:60px;
    background-color:rgb(128,106,57);
    text-align:left;
}

#mokuji3{
    font-size:60px;
    background-color:rgb(128,106,57);
    text-align:left;
}

.slide_fade{
    position: relative;
}

.slider_fade > li{
    position:absolute;
    margin-left: 670px;
    list-style: none;
    visibility: hidden;
    animation: anime_slider_fade 12s 0s infinite;
}
.slider_fade > li:nth-of-type(2){
    animation-delay: 4s;
}
.slider_fade > li:nth-of-type(3){
    animation-delay: 8s;
}

@keyframes anime_slider_fade{
    0%{
        visibility: visible;
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    33.3% {
        opacity: 1;
    }
    48.3% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.genzai{
    margin-top: 700px;
}

.box1{
    color:rgb(231, 233, 234);
    align-items: center;
    text-align: center;
    padding-top: 30px;
    background-color:rgb(57, 55, 55);
}

small{
    font-size: 30px;
    
}
